@tailwind base;
@tailwind components;
@font-face {
  font-family: "StagSansBold";
  src: local("StagSansBold"),
    url("src/fonts/StagSans-Bold.oft") format("opentype");
}
@font-face {
  font-family: "StagSansBook";
  src: local("StagSansBook"),
    url("src/fonts/StagSans-Book.otf") format("opentype");
}
@font-face {
  font-family: "StagSansThin";
  src: local("StagSansThin"),
    url("src/fonts/StagSans-Thin.otf") format("opentype");
}
@font-face {
  font-family: "StagSansBold";
  src: local("StagSansBold"),
    url("src/fonts/StagSans-Bold.otf") format("opentype");
}

@tailwind utilities;

.card {
  text-align: center;
  perspective: 1000px;
  position: relative;
  cursor: pointer;
}

.back,
.front {

}

.back {
}

.front {
  position: absolute;
  top: 0;
  left: 0;

}


/* position outside */
.swiper-button-next {
  right: 0!important;
  color: #014960!important;
}
/* #014960 */
.swiper-button-prev{
  left: -2rem!important;
  color: #014960!important;
}

.swiper-slide {
  height: 100% !important;
  align-self: stretch !important;
}